html, body
{
  height: 100%;
  margin: 0;
}

body
{
	background-image: url("bg.jpg") ;

	background-size: cover;
}

.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

#see
{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: rebeccapurple;
}

#join
{
	font-family: cursive;
	font-weight: bold;
	color: rgb(255, 4, 4);
}

#add
{
	color: rgb(37, 0, 245);
	font-size: 20px;
}

#login_button
{
	background-color: rgb(0, 174, 255);
	color: white;
	font-weight: bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	border-radius: 0px;
}

#btn
{
	background-color: rgb(58, 56, 199);
	font-size: 17px;
	font-weight: bold;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

u
{
	color: rgb(210, 250, 250);
}

hr
{
	font-weight: bold;
	
}

#user
{
	font-family: monospace, cursive;
	font-weight: bold;
	font-size: 20px;
}

#image2
{
	margin-top: 30px;
	height: 120px;
	width: 120px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float:
	 none;border-radius: 15px;
}

.logo
{
	width: 130px;
	height: 130px;
	margin-top: 30px;
	border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;
	background: rgb(219, 243, 243);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}